@font-face{
    font-family : "Digital-7";
    src: url("digital-7(italic).ttf");
}

body {
    font-family: "Digital-7";
    font-size: 22px;
    background-color: #171515;
}

button {
    font-family: "Digital-7";
    float: left;
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 3px;
}

button:focus{
   background-color: orange;
}

button:hover {
   background-color: gray;
}
.container  {
    border: solid 10px red;
    position: absolute;
    display: block;
    margin: auto;
    right: 300px;
    top: 100px;
    height: 336px;
    width: 400px;
    left: 400px;

}

#result {
    text-align: center;
    display:block;
    background-color: white;
}

#CE, #clear, #multiply, #add, #subtract, #divide, #point, #remainder, #potential, #equals {
    background-color: limegreen;
}

#one, #two, #three, #four, #five, #six , #seven, #eight, #nine, #zero {
    background-color: #bece8f;
}