@font-face{
    font-family : "Digital-7";
    src: url("digital-7(italic).ttf");
}

body {
    font-family: "Digital-7";
    font-size: 22px;
}

button {
    font-family: "Digital-7";
    float: left;
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 3px;
}

button:focus{
   background-color: yellow;
}
.container  {
    border: solid 1px;
    position: absolute;
    display: block;
    margin: auto;
    right: 300px;
    top: 100px;
    height: 470px;
    width: 400px;
    left: 400px;

}

#result {
    width: 400px;
    text-align: center;
}

#clear {
    width: 200px;
    height: 50px
}

#equals {
    height: 50px;
}

#point {
    height: 50px;
}