
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 22px;
    background-image : url("XPBackGModified.jpeg");
}

button {
    font-family: 'Noto Sans KR', sans-serif;
    border: solid 2px gray;
    float: left;
    display: block;
    height: 80px;
    width: 80px;
    border-radius: 4px;
}

button:focus{}

button:hover {
   background-color: #c6c5c5;
}
.calculator {
    position: absolute;
    display: block;
    left: 793px;
    right: 300px;
}
.container  {
    border: solid 3px #0555e2;
    position: absolute;
    display: block;
    margin: auto;
    top: 100px;
    height: 354px;
    width: 400px;
}

#result {
    text-align: right;
    display:block;
    background-color: #e3e3e3;
    height: 34px;
}

#CE, #clear, #multiply, #add, #subtract, #divide, #point, #remainder, #potential, #equals {
    color: red;
}

#one, #two, #three, #four, #five, #six , #seven, #eight, #nine, #zero {
    color: #4236c8;
}

#xpcalctop {
    display: block;
    position: absolute;
    top: 49px;
    width: 406px;
}